body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family:
    Instrumental Sans,
    sans-serif;
  background-color: black;
}
.fade-out {
  opacity: 0;
  background: #000000;
  transition: opacity 0.8s ease;
}
#bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.l {
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.a {
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.n {
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.g {
  top: 50%;
  left: 66%;
  transform: translate(-50%, -50%);
}

.top-left {
  top: 0;
  left: 0;
  transform: translate(0, 0);
}

.top-right {
  top: 0;
  left: 100vw;
  transform: translate(-100%, 0);
}

.bottom-left {
  top: 103vh;
  left: 0;
  transform: translate(0, -100%);
}

.bottom-right {
  top: 103vh;
  left: 100vw;
  transform: translate(-100%, -100%);
}

.letter {
  position: absolute;
  font-size: 1500%;
  color: white;
  z-index: 10;
  transition: all 2s ease-in-out;
  font-family: 'JustCosmic', sans-serif;
  padding: 1.2%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black !important;
  opacity: 1;
  z-index: 1;
  transition: opacity 2s ease-in-out;
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: auto;
  opacity: 0;
  transition: opacity 1s ease-out;
  z-index: 2;
  color: white;
}

.center-container.visible {
  opacity: 1;
}

.times {
  font-size: 1.8vh;
  line-height: 0.6vw;
}
.time-ny,
.time-msk {
  margin-bottom: 0.5rem;
}

.quote {
  text-align: center;
  font-size: 1.8vh;
  line-height: 50%;
}
.quote p {
  margin: 0.5rem 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 50%;
}
nav ul li {
  margin-bottom: 1vw;
  position: relative;
}
nav ul li::before {
  content: '→';
  position: absolute;
  left: -40%;
  opacity: 0;
  transition: opacity 0.3s;
}
nav ul li:hover::before {
  opacity: 1;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.8vh;
}

@media (max-width: 768px) {
  .letter {
    font-size: 700%;
  }
  .center-container {
    height: 50%;
  }
  .about {
    opacity: 0;
  }
  .quote {
    opacity: 0;
  }
  nav ul {
    position: absolute;
    font-size: 1.8vh;
    line-height: 100%;
    text-align: center;
    padding: 0%;
    left: 45%;
  }
}
